VITE_NEWS_API_KEY=sua_chave_gnews_aqui
VITE_NEWS_BASE=https://gnews.io/api/v4
VITE_WEATHER_API_KEY=sua_chave_openweathermap_aqui
VITE_WEATHER_BASE=https://api.openweathermap.org/data/2.5

# JSONBin (banco de dados)
VITE_JSONBIN_ID=6a09db00adc21f119ab38d5d
VITE_JSONBIN_KEY=$2a$10$2EwUbk0x.HZF/hhWBLz94eGW5B5r9kMsa7.mzEaqamgMh318BQfJW
